<h1>Data input for the MLCLSP</h1>

<li><%= link_to "Here", products_path %> you can type in the products features.</li>
<li><%= link_to "Here", followers_path %> you can type in the followers.</li>
<li><%= link_to "Here", follower_products_path %> you can type in the dependencies.</li>
<li><%= link_to "Here", periods_path %> you can type in the necessary periods.</li>
<li><%= link_to "Here", demands_path %> you can type in the demands.</li>
<li><%= link_to "Here", resources_path %> you can type in the resources.</li>
<li><%= link_to "Here", resource_periods_path %> you can type in the resource capacity.</li>

<br />

<%#= objective_function_value_response %>

<%#= button_to 'Optimiere', :controller => 'pages', :action => 'home' %>
<%#= button_to "Lösche PM, LB und RV", :controller => 'problem_solutions', :action => 'delete_production_quantities' %>
<%#= button_to "Lese die PM, LB und RV ein", :controller => 'problem_solutions', :action =>  'read_transportation_quantities'  %>
<%#= button_to "Optimize", :controller => 'problem_solutions', :action =>  'optimize'  %>
<%#= button_to "Lese den Zielfunktionswert ein", :controller => 'problem_solutions', :action => 'read_and_show_ofv' %>