<p id="notice"><%= notice %></p>

<p>
  <b>resource name:</b>
  <%= @resource_period.resource_id %>
</p>
<p>
  <b>period name:</b>
  <%= @resource_period.period_id %>
</p>
<p>
  <b>Capacity:</b>
  <%= @resource_period.capacity %>
</p>

<%= link_to 'Edit', edit_resource_period_path(@resource_period) %> |
<%= link_to 'Back', resource_periods_path %>
