<%= form_for(@follower) do |f| %>
  <% if @follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% @follower.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :follower_name %><br />
    <%= f.collection_select :follower_name, Product.find(:all), :product_name, :product_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
