<h1>Listing followers</h1>

<table>
  <tr>
    <th>follower name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @followers.each do |follower| %>
  <tr>
    <td><%= follower.follower_name %></td>
    <td><%= link_to 'Show', follower %></td>
    <td><%= link_to 'Edit', edit_follower_path(follower) %></td>
    <td><%= link_to 'Destroy', follower, :confirm => 'Are you sure?', method:  :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Follower', new_follower_path %> |
<%= link_to 'Data Input', problem_solutions_path %>
