<p id="notice"><%= notice %></p>

<p>
  <b>product name:</b>
  <%= @product.product_name %>
</p>

<p>
  <b>leadtime shift:</b>
  <%= @product.leadtime_shift %>
</p>

<p>
  <b>resource:</b>
  <%= @product.resource %>
</p>

<p>
  <b>setup time:</b>
  <%= @product.setup_time %>
</p>

<p>
  <b>setup cost:</b>
  <%= @product.setup_cost %>
</p>

<p>
  <b>storage cost:</b>
  <%= @product.storage_cost %>
</p>

<p>
  <b>working time:</b>
  <%= @product.working_time %>
</p>

<p>
  <b>start inventory:</b>
  <%= @product.start_inventory %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
