<header>
  <%= link_to my_logo, root_path %>
   <nav class="round">
       <ul>

            <li><%= link_to "Home", root_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "MLCLSP", problem_solutions_path %></li>
            <% end %>
            <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
       </ul>
   </nav>
</header>